# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.6/en/server-configuration-defaults.html

[mysqld]

skip-name-resolve
#query_cache_size = 64M
#query_cache_limit = 16M
tmp_table_size = 32M
#tmp_table_size = 192M
max_heap_table_size = 32M
#max_heap_table_size = 192M

#slow_query_log = 1  para conocer rendimiento. Apagar para produccion
slow_query_log = 0

max_connections = 20

#Esto es nuevo - 30/05/2016
key_buffer = 32M
max_allowed_packet = 16M

lower_case_table_names = 1

interactive_timeout = 28800
wait_timeout = 28800

connect_timeout = 120
join_buffer_size = 16M

#key_buffer_size = 16M
#key_buffer_size = 160M lo desactive el 18/08

#performance_schema

# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.

#innodb_buffer_pool_size = 650M
innodb_buffer_pool_size = 1500M
innodb_buffer_pool_instances = 1
innodb_log_file_size = 250M

#innodb_additional_mem_pool_size = 20M
#innodb_open_files = 300

#innodb_thread_concurrency = 8
innodb_thread_concurrency = 0

#innodb_flush_log_at_trx_commit = 1
innodb_flush_log_at_trx_commit = 0


# Remove leading # to turn on a very important data integrity option: logging
# changes to the binary log between backups.
# log_bin

# These are commonly set, remove the # and set as required.
# basedir = .....
# datadir = .....
# port = .....
# server_id = .....
# socket = .....

# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M 

#Esta linea controla los errores de insercion de valores no validos en un campo.- Esta traba toda insercion/actualizacion mala
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES 
#sql_mode= 

#Esta linea es parecida a la de arriba, pero no traba la insercion de valores defectuosos, los reemplaza.-
#sql_mode=NO_ENGINE_SUBSTITUTION
